* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fondo-principal: #e6e4e4;
    --fondo-header: #000000;
    --fondo-sidebar: #000000;
    --fondo-main: #e72c2c;
    --fondo-footer: #2d4bd3;
    --alto-header: 100px;
    --alto-footer: 100px;
    --ancho-sidebar: 200px;
}
body {
    background-color: var(--fondo-principal);
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header header"
        "sidebar main   main"
        "footer footer footer";
    height: 100vh;
}
/* BARRA DE NAVEGACION, SECCION HEADER */
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-header);
    border-bottom: 2px solid white;
}
.contenido-header__imagen-logo{
    width: 200px;
}
.contenido-header__imagen-mensaje{
    height: 20px;
    margin-top: 50px;
    padding-right: 50px;
}
.lista-enlaces__enlace{
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    list-style: none;
    font-size: 20px;
}
header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header div nav ul {
    display: flex;
    gap: 10px;
}
/* CONTENIDO SIDEBAR */
aside {
    grid-area: sidebar;
    width: var(--ancho-sidebar);
    background-color: var(--fondo-sidebar);
}
.sidebar-navegacion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.sidebar-navegacion .sidebar-navegacion__enlaces{
}
main {
    background-color: var(--fondo-main);
    grid-area: main;
}
footer {
    background-color: var(--fondo-footer);
    grid-area: footer;
}
