* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fondo-principal: #e6e4e4;
    --fondo-header: #000000;
    --fondo-sidebar: #000000;
    --fondo-footer: #000000;
    --fondo-main: #727272;
    --alto-header: 100px;
    --alto-footer: 100px;
    --ancho-sidebar: 200px;
}
body {
    background-color: var(--fondo-principal);
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header header"
        "sidebar main   main"
        "footer footer footer";
    height: 100vh;
}
/* BARRA DE NAVEGACION, SECCION HEADER */
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-header);
    border-bottom: 1px solid white;
}
.contenido-header__imagen-logo{
    width: 200px;
}
.contenido-header__imagen-mensaje{
    height: 20px;
    margin-top: 50px;
    padding-right: 50px;
}
.lista-enlaces__enlace{
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    list-style: none;
    font-size: 20px;
    font-style: italic;
}
header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header div nav ul {
    display: flex;
    gap: 10px;
}
/* CONTENIDO SIDEBAR */
aside {
    grid-area: sidebar;
    width: var(--ancho-sidebar);
    background-color: var(--fondo-sidebar);
    padding: 10px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-navegacion{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.sidebar-navegacion .sidebar-navegacion__enlaces{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.sidebar-navegacion__imagen-twitter{
    margin-top: 80px;
    height: 40px;
}
.sidebar-navegacion__imagen-instagram{
    height: 40px;
    margin-top: 20px;
}
.sidebar-navegacion__imagen-facebook{
    height: 40px;
    margin-top: 20px;
}
/* CONTENIDO DEL TEMA */
main {
    background-color: var(--fondo-main);
    grid-area: main;
}
.titulo-auto{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    height: 400px;
    width: 1300px;
    margin: 0 auto;
    margin-top: 40px;
    overflow-y: auto;
}
.contenedor-cards__cards {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cards__imagen-cards{
    height: 100px;
    width: 150px;
}

.contenedor-cards__cards h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
}

.contenedor-cards__cards p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.contenedor-cards__cards span{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: red;
    font-size: 30px;
}
/* PIE DE PAGINA */
footer {
    background-color: var(--fondo-footer);
    grid-area: footer;
    border-top: 1px solid white;
}
